python-flask/.idea/.gitignore
python-flask/.idea/.name
python-flask/.idea/misc.xml
python-flask/.idea/modules.xml
python-flask/.idea/inspectionProfiles/profiles_settings.xml
python-flask/.idea/inspectionProfiles/Project_Default.xml
python-flask/.idea/.gitignore
python-flask/.idea/misc.xml
python-flask/.idea/modules.xml
python-flask/.idea/inspectionProfiles/profiles_settings.xml
python-flask/.idea/inspectionProfiles/Project_Default.xml
python-flask/.idea/inspectionProfiles/profiles_settings.xml
python-flask/.idea/inspectionProfiles/Project_Default.xml
