<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>Login page</title>
        <link rel="stylesheet" type="text/css" href="static/style.css" />
    </head>

    <body>
        <div class="login-form">
            <h1>Login</h1>
          <h2>{% if error %}
            {{ error }}
          {% endif %}</h2>

          <form action="/register" method="POST">
            <p>User name</p>
            <input type="text" id="username" name="username" placeholder="User name">
            <button type="submit">Register to Login</button>
          </form>

        </div>
    </body>
